---
// Componentes
import Title from "../../../../componets/title.astro";
import Principal from "../../../../layout/principal.astro";
import Carusel_pics from "../../../../componets/carruseles/carusel_pics.astro";

// JSON
import temaJSON from "../../../../JSON/team.json";
import Manager from "../../../../componets/cards/manager.astro";

export function getStaticPaths() {
  return [
    { params: { temporada: "2016" } },
    { params: { temporada: "2017" } },
    { params: { temporada: "2018" } },
    { params: { temporada: "2019" } },
  ];
}

const { temporada } = Astro.params;

// Consumir el json de la Sub 15
const aux = temaJSON.map((info) => info.Managua.sub15[temporada]);

// Trabajar de una forma más limpia
const data = aux[0];
---

<Principal name={data.team + " - " + data.temporada} seccion={2}>
  <div class="card">
    <img src={data.background} />
    <aside>
      <h1 class="title">
        {data.team + " - " + data.temporada}
      </h1>
      <h2 class="subtitle">
        {data.resultado}
      </h2>
    </aside>
  </div>

  <div class="contenedor_decs contenedor">
    <Title titulo="Resumen del torneo" />
    {
      data.descripcion.map((info) => {
        return <p class="descripcion">{info}</p>;
      })
    }
  </div>

  <div class="contenedor_team contenedor">
    <Title titulo="Cuerpo Tecnico" />
    <Manager fotos={data.support} />
  </div>
  <div class="contenedor_galeria contenedor">
    <Title titulo="Galeria" />
    <Carusel_pics effectHover={false} fotos={data.galeria} />
  </div>
</Principal>

<style>
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 50px 0 50px;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: rgba(36, 67, 122);
  }

  .card img {
    width: 100%;
    transition: 0.5s;
    color: white;
    object-fit: cover;
    opacity: 0.4;
    height: calc(100vh - 100px);
  }
  .card aside {
    transition: all 0.8s;
    color: white;
    font-size: 35px;
    text-align: center;
    position: absolute;
    z-index: 1;
  }

  .title {
    color: #f5f5f5;
    text-align: center;
    font-family: "Koulen";
    font-size: 96px;
    letter-spacing: 15px;
  }
  .subtitle {
    color: #f5f5f5;
    text-align: center;
    font-family: "Krona One";
    font-size: 36px;
    font-weight: 400;
  }


  .contenedor_decs .descripcion {
    color: #24437a;
    font-family: "Inter";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-top: 20px;
  }

  @media screen and (max-width: 1030px) {
    .title {
      font-size: 80px;
      letter-spacing: 10px;
    }

    .contenedor{
      margin: 30px 30px 0 30px;
    }
  }

  @media screen and (max-width: 750px) {
    .title {
      font-size: 55px;
      letter-spacing: 4px;
    }
    .subtitle {
      font-size: 30px;
    }

    .contenedor_decs .descripcion{
      font-size: 20px;
    }
  }

  @media screen and (max-width: 490px) {
    .title {
      font-size: 40px;
    }

    .subtitle {
      font-size: 25px;
    }

    .contenedor {
      margin: 20px 20px 0 20px;
    }
  }
</style>
